/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 26, 2020, 3:23:23 PM
    Author     : Nitanshu
*/
p{
    font-size:large;
    color: black;
    background-color: yellow;
}
.left{
    float:left;
}
.right{
    float:right;
}
.box{
    display:inline-block;
    width: 50%;
    float :left;
}
.container{
    padding:20px;
    margin:auto;
    width:100%;
        overflow-x: hidden;
}
@media(min-width:320px)
{
    .container{
        width:320px;
    }
}
@media(min-width:481px)
{
    .container{
        width:481px;
    }
}@media(min-width:641px)
{
    .container{
        width:641px;
    }
}@media(min-width:961px)
{
    .container{
        width:961px;
    }
}
@media(min-width:1000px)
{
    .container{
        width:1000px;
    }
}
